

$fontMontserratBold: "Montserrat-SemiBold", Helvetica, sans-serif;
$fontMontserratRegular: "Montserrat-Regular", Helvetica, sans-serif;
$fontMontserratLight: "Montserrat-Light", Helvetica, sans-serif;

$fontAvenirBlack: "Avenir-Black", Helvetica, sans-serif;
$fontAvenirBook: "Avenir-Book", Helvetica, sans-serif;
$fontAvenirMedium: "Avenir-Medium", Helvetica, sans-serif;
