
.button-wrapper{
  text-align: center;
  a.button,
  a.button:active,
  a.button:hover,
  a.button:visited
  button {
    text-transform: uppercase;
    display: block;
    text-decoration: none;
  }
  p {
    margin-top: 15px;
    font: 20px/30px $fontAvenirBook;
  }
}


.button-wrapper.big-green,
.button-wrapper.small-green {
  max-width: 377px;
  a.button,
  a.button:active,
  a.button:hover,
  a.button:visited,
  button,
  input[type='submit'] {
    //min-width: 377px;
    border: none;
    background-color: #b5d453;
    color: #fff !important;
    padding: 12px 15px 12px;
    font: 28px/34px $fontAvenirBlack;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none  !important;
    @include breakFlexSMMax() {
      font: 22px/26px $fontAvenirBlack;
      min-width: 10px;
      width: 85%;
      display: block;
      margin: auto;
      padding: 15px 10px;
    }
  }
  a.button:hover {
    background-color: #9FBA49;
  }
}

.button-wrapper.small-green {
  max-width: none;
  display: inline-block;
  a.button,
  a.button:active,
  a.button:hover,
  a.button:visited,
  button,
  input[type='submit'] {
    text-transform: none;
    padding: 10px 60px;
    font: 18px/24px $fontAvenirMedium;
    border-radius: 100px;
    cursor: pointer;
    @include breakFlexSMMax() {
      padding: 15px 10px;
    }
  }
}

.button-wrapper.small-white-border {
  max-width: none;
  display: inline-block;
  a.button,
  a.button:active,
  a.button:hover,
  a.button:visited,
  button,
  input[type='submit'] {
    border: solid 2px #fff;
    background-color: transparent;
    text-transform: none;
    padding: 20px 60px;
    font: 18px/24px "Avenir-Medium", Helvetica, sans-serif;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    @include breakFlexSMMax() {
      padding: 15px 10px;
    }
  }
}

input[type="radio"] {
  height: 20px;
  width: 20px;
}

input[type="email"] {
  padding: 25px 20px 24px;
  color: #a2a2a2;
  font-size: 16px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  width: 100%;
}

input[type="text"] {
  padding: 12px 15px 12px;
  border: solid 1px #999999;
  color: #000;
  font-size: 16px;
}
